.quote{
font-size: 2rem;
}
#history{
    color: dark gray;
}
.wrapp{
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.7rem;
    width:0.8 ;
}
button{
    background-color: royalblue;
    color: white;

}
